html,
body {
  padding: 20px;
  margin: auto;
  font-family: -apple-system, 'Roboto', sans-serif;
  background-color: #171C27;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
  color: white;
}
 
button {
  background-color: #00fff0;
  color: #171C27; 
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
}

* {
  box-sizing: border-box; 
}
